### GO (GOLANG)

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.vscode
.DS_Store
# emacs
*~

### JAVA
.idea
*.class
*.iml

### PYTHON
__pycache__
*.pyc
venv

### TypeScript (JavaScript)
node_modules
